In [ ]:
import boto3
import configparser
import json
import pandas as pd
import os

In [ ]:
# Load configuration
config = configparser.ConfigParser()
config.read('dwh.cfg')

LOG_DATA=config.get("S3","LOG_DATA")
SONG_DATA=config.get("S3","SONG_DATA")
LOG_JSON_PATH=config.get("S3","LOG_JSON_PATH")

def list_objects_v2(bucket : str, prefix : str = None) -> pd.DataFrame:
    """
    List objects in an S3 bucket with a given prefix.
    """
    s3 = boto3.client('s3')
    response = s3.list_objects_v2(Bucket=bucket, Prefix=prefix)
    return pd.DataFrame(response['Contents'])

def get_s3_object(bucket : str, key : str) -> dict:
    """
    Get an object from S3 and return it as a DataFrame.
    """
    s3 = boto3.client('s3')
    obj = s3.get_object(Bucket=bucket, Key=key)
    return obj['Body']

def download_s3_file(bucket : str, key : str, local_path : str) -> None:
    """
    Download a file from S3 to a local path.
    """
    s3 = boto3.client('s3')
    s3.download_file(bucket, key, local_path)

def get_bucket_region(bucket : str) -> str:
    """
    Get the region of an S3 bucket.
    """
    s3 = boto3.client('s3')
    response = s3.get_bucket_location(Bucket=bucket)
    return response['LocationConstraint'] if response['LocationConstraint'] else 'us-east-1'

def read_json_from_s3(bucket: str, key: str) -> dict:
    """
    Read a JSON file from S3 and return it as a dictionary.
    """
    s3 = boto3.client('s3')
    obj = s3.get_object(Bucket=bucket, Key=key)
    data = obj['Body'].read()
    return json.loads(data)

### List log data files

In [4]:
# List objects in the S3 bucket
bucket_name = LOG_DATA.split('/')[2]
list_objects_v2(bucket_name, 'log_data')

,Key,LastModified,ETag,Size,StorageClass
0,log_data/,2019-04-17 12:02:38+00:00,"""d41d8cd98f00b204e9800998ecf8427e""",0,STANDARD
1,log_data/2018/11/2018-11-01-events.json,2019-04-17 12:03:13+00:00,"""21bae37b41c56b66973312a07322b5e4""",7151,STANDARD
2,log_data/2018/11/2018-11-02-events.json,2019-04-17 12:03:13+00:00,"""c726b249410a532cce10fa166ce8616c""",83585,STANDARD
3,log_data/2018/11/2018-11-03-events.json,2019-04-17 12:03:13+00:00,"""696af259d3203446b846de7937b5810c""",54084,STANDARD
4,log_data/2018/11/2018-11-04-events.json,2019-04-17 12:03:13+00:00,"""3d10cad17e2279b29da00756a885659b""",85671,STANDARD
5,log_data/2018/11/2018-11-05-events.json,2019-04-17 12:03:13+00:00,"""5055eafc2dcd43d7a39486683857da01""",189295,STANDARD
6,log_data/2018/11/2018-11-06-events.json,2019-04-17 12:03:13+00:00,"""c0594b7fad6851d5d47650caffa48ea0""",85373,STANDARD
7,log_data/2018/11/2018-11-07-events.json,2019-04-17 12:03:13+00:00,"""e6b529f7305fe26eca5e5ef85aa2e014""",97519,STANDARD
8,log_data/2018/11/2018-11-08-events.json,2019-04-17 12:03:13+00:00,"""8a037906ea14c4bd6ea23e2d5333aa13""",102218,STANDARD
9,log_data/2018/11/2018-11-09-events.json,2019-04-17 12:03:13+00:00,"""ea4f34c437d8caa2634ff98bef315f2a""",134804,STANDARD
10,log_data/2018/11/2018-11-10-events.json,2019-04-17 12:03:13+00:00,"""272eeb15e546f06009fb67600f426e0e""",44076,STANDARD
11,log_data/2018/11/2018-11-11-events.json,2019-04-17 12:03:13+00:00,"""0a9258f19b565369bd89d87608530782""",43711,STANDARD
12,log_data/2018/11/2018-11-12-events.json,2019-04-17 12:03:13+00:00,"""d72f8a08de7bd2d784d507956761e77e""",99854,STANDARD
13,log_data/2018/11/2018-11-13-events.json,2019-04-17 12:03:13+00:00,"""03961d37b48699e3ff408fa5f01d45c4""",186826,STANDARD
14,log_data/2018/11/2018-11-14-events.json,2019-04-17 12:03:13+00:00,"""c8013941ab0400803119f2c37b3e2708""",217264,STANDARD
15,log_data/2018/11/2018-11-15-events.json,2019-04-17 12:03:13+00:00,"""ff98067209187a8963a2c0c18967f54f""",243143,STANDARD
16,log_data/2018/11/2018-11-16-events.json,2019-04-17 12:03:13+00:00,"""d381c80c292b1e15c728bef591b40eb6""",175491,STANDARD
17,log_data/2018/11/2018-11-17-events.json,2019-04-17 12:03:13+00:00,"""1d117c1dc8a530439eea91c79a9a11a2""",66164,STANDARD
18,log_data/2018/11/2018-11-18-events.json,2019-04-17 12:03:13+00:00,"""f7845257f768de6d10ad3f43f8b2d6ba""",75763,STANDARD
19,log_data/2018/11/2018-11-19-events.json,2019-04-17 12:03:13+00:00,"""e2fb42cee2c647beab13944f1452b8d8""",150798,STANDARD
20,log_data/2018/11/2018-11-20-events.json,2019-04-17 12:03:13+00:00,"""28597cac7420f7260cc5ee8fdcb1fa59""",174991,STANDARD
21,log_data/2018/11/2018-11-21-events.json,2019-04-17 12:03:13+00:00,"""5b811a1ee64982e60eb90234011227e8""",242588,STANDARD
22,log_data/2018/11/2018-11-22-events.json,2019-04-17 12:03:13+00:00,"""0e02b7971550d80899ace62a56e96776""",46181,STANDARD
23,log_data/2018/11/2018-11-23-events.json,2019-04-17 12:03:13+00:00,"""8c8f106d950a9c7768f8b2c5b63cb597""",138647,STANDARD
24,log_data/2018/11/2018-11-24-events.json,2019-04-17 12:03:13+00:00,"""57c55089602d67e0421a214a1942adf6""",170219,STANDARD
25,log_data/2018/11/2018-11-25-events.json,2019-04-17 12:03:13+00:00,"""354ce3dc842cc3a5c5c205574e31f082""",26214,STANDARD
26,log_data/2018/11/2018-11-26-events.json,2019-04-17 12:03:13+00:00,"""62c3cf125b4c51111858c104b48ec56f""",123576,STANDARD
27,log_data/2018/11/2018-11-27-events.json,2019-04-17 12:03:13+00:00,"""38fdb9ddad08ea8d38761281bd3e797f""",141625,STANDARD
28,log_data/2018/11/2018-11-28-events.json,2019-04-17 12:03:13+00:00,"""958bb973e883807f00a35801b9191c7f""",202910,STANDARD
29,log_data/2018/11/2018-11-29-events.json,2019-04-17 12:03:13+00:00,"""b83ce60beda7021c6ce1c05385bba969""",168646,STANDARD
30,log_data/2018/11/2018-11-30-events.json,2019-04-17 12:03:13+00:00,"""350823c28fb33b855b08c3940f16d8d2""",177211,STANDARD

In [5]:
# Get sample data from S3
pd.read_json(get_s3_object(bucket_name, 'log_data/2018/11/2018-11-08-events.json'), lines=True)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Dominick,M,0,Norris,NaN,free,"Los Angeles-Long Beach-Anaheim, CA",GET,Home,1.540976e+12,44,None,200,1541635950796,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",45
1,Slipknot,Logged In,Aiden,M,0,Ramirez,192.57424,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540284e+12,19,Opium Of The People (Album Version),200,1541639510796,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",20
2,Cat Stevens,Logged In,Aiden,M,1,Ramirez,170.57914,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540284e+12,19,Don't Be Shy,200,1541639702796,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",20
3,Collective Soul,Logged In,Aiden,M,2,Ramirez,273.47546,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540284e+12,19,Run (LP Version),200,1541639872796,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",20
4,Taylor Swift,Logged In,Aiden,M,3,Ramirez,233.89995,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540284e+12,19,Love Story,200,1541640145796,"""Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537....",20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,None,Logged In,Dominick,M,1,Norris,NaN,free,"Los Angeles-Long Beach-Anaheim, CA",GET,Settings,1.540976e+12,365,None,200,1541713358796,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",45
219,Irish Tenors,Logged In,Rylan,M,2,George,187.48036,free,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,393,Danny Boy,200,1541713521796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
220,Justin Bieber,Logged In,Rylan,M,3,George,212.53179,free,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,393,Runaway Love,200,1541713708796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",16
221,None,Logged In,Dominick,M,0,Norris,NaN,free,"Los Angeles-Long Beach-Anaheim, CA",GET,Home,1.540976e+12,401,None,200,1541719996796,"""Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like...",45
222,Jonny L,Logged In,Harper,M,0,Barrett,401.52771,paid,"New York-Newark-Jersey City, NY-NJ-PA",PUT,NextSong,1.540685e+12,275,Microdaze,200,1541721576796,"""Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebK...",42

### List log files

In [6]:
list_objects_v2(bucket_name, 'log_json_path')

,Key,LastModified,ETag,Size,StorageClass
0,log_json_path.json,2019-04-02 16:58:44+00:00,"""6ee138e5504cffd12cded1323dfbd6a4""",456,STANDARD

In [7]:
# Download a file from S3
file_name = 'log_json_path.json'
dowload_path = os.path.join(os.getcwd(), file_name)
download_s3_file(bucket_name, file_name, dowload_path)
# Get sample data from S3
pd.read_json(get_s3_object(bucket_name, 'log_json_path.json'))

             jsonpaths
0          $['artist']
1            $['auth']
2       $['firstName']
3          $['gender']
4   $['itemInSession']
5        $['lastName']
6          $['length']
7           $['level']
8        $['location']
9          $['method']
10           $['page']
11   $['registration']
12      $['sessionId']
13           $['song']
14         $['status']
15             $['ts']
16      $['userAgent']
17         $['userId']

### List song data

In [8]:
list_objects_v2(bucket_name, 'song_data')

,Key,LastModified,ETag,Size,StorageClass
0,song_data/,2019-04-17 03:12:52+00:00,"""d41d8cd98f00b204e9800998ecf8427e""",0,STANDARD
1,song_data/A/A/A/TRAAAAK128F9318786.json,2019-04-17 03:20:41+00:00,"""48e073986610c4997c26f8a394b8fd6e""",225,STANDARD
2,song_data/A/A/A/TRAAAAV128F421A322.json,2019-04-17 03:20:41+00:00,"""fc84ae8a04e72df00ac2a25218f14a18""",284,STANDARD
3,song_data/A/A/A/TRAAABD128F429CF47.json,2019-04-17 03:20:41+00:00,"""df6d7bb1676146a859af35cb3468e8dd""",249,STANDARD
4,song_data/A/A/A/TRAAACN128F9355673.json,2019-04-17 03:20:41+00:00,"""86f1807dd1cfa21826cf374c6c2625a7""",243,STANDARD
...,...,...,...,...,...
995,song_data/A/B/R/TRABRFP128F42B7B7A.json,2019-04-17 03:20:51+00:00,"""977f88d5aeca9208780bbbf30dae214e""",257,STANDARD
996,song_data/A/B/R/TRABRHL128F4274DB0.json,2019-04-17 03:20:51+00:00,"""ff3e142ed97c25a461133c67c16d15d0""",241,STANDARD
997,song_data/A/B/R/TRABRHT12903CF274F.json,2019-04-17 03:20:51+00:00,"""12e3bc2bfbaf6ea0f224798647244890""",255,STANDARD
998,song_data/A/B/R/TRABRJZ12903CE9196.json,2019-04-17 03:20:51+00:00,"""3b09e7cd7d50350f0376a544ff680fec""",234,STANDARD
999,song_data/A/B/R/TRABRLW128F930321D.json,2019-04-17 03:20:51+00:00,"""955df2fdc71080988a50a70fa382b520""",238,STANDARD

In [18]:
# Get sample data from S3
pd.read_json(get_s3_object(bucket_name, 'song_data/A/A/A/TRAAABD128F429CF47.json'), lines=True)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,148.03546,1,SOCIWDW12A8C13D406,Soul Deep,1969